body
    min-width: 100vw
    min-height: 100vh
    font-family: 'Montserrat', sans-serif
    background: #000
    color: #fff
    overflow-x: hidden

:root
    --index: calc(1vw + 1vh)
    --transition: 1.5s cubic-bezier(.05, .5, 0, 1)

.logo
    --logo-size: calc(var(--index) * 15)
    position: absolute
    left: calc(50% - calc(var(--logo-size) / 2))
    top: calc(var(--index) * 2.8)
    z-index: 1000
    width: var(--logo-size)
    height: calc(var(--index) * 4)
    background-image: url(../img/logo.png)
    background-repeat: no-repeat
    background-size: contain
    background-position: center

.layers
    perspective: 1000px
    overflow: hidden

    &__container
        height: 100vh
        min-height: 500px
        transform-style: preserve-3d
        transform: rotateX(var(--move-y)) rotateY(var(--move-x))
        will-change: transform
        transition: transform var(--transition)

    &__item
        position: absolute
        inset: -5vw
        background-size: cover
        background-position: center
        display: flex
        justify-content: center
        align-items: center

.background
    background-image: url(../img/background.png)
    opacity: 0.8

.ufo
    background-image: url(../img/ufo.png)
    background-size: 20%
    background-repeat: no-repeat
    background-position: 17vw 27vh

.astronaut
    background-image: url(../img/astronaut.png)
    background-size: 20%
    background-repeat: no-repeat
    background-position: 75vw 55vh

.particles
    background-image: url(../img/particles.png)
    opacity: 0.6

.layer-1
    transform: translateZ(-55px) scale(1.06)

.layer-2
    transform: translateZ(80px) scale(.88)

.layer-3
    transform: translateZ(180px) scale(.88)

.layer-4
    transform: translateZ(250px) scale(.88)

.layer-5
    transform: translateZ(300px) scale(.88)
    pointer-events: none
.layer-6
    transform: translateZ(380px) scale(.88)
    pointer-events: none

.hero-content
    text-align: center
    h1
        font-size: calc(var(--index) * 2)
        text-transform: uppercase

    &__p
        font-size: calc(var(--index) * 1)

    button
        font-family: Arial
        font-weight: 600
        cursor: pointer
        margin-top: 20px
        background: transparent
        border: 3px solid #fff
        padding: 10px 60px
        border-radius: 50px
        color: #fff
        outline: none
        font-size: calc(var(--index) * .7)
